
<div class="card">
  <p-table [value]="listVehicles"  [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
          <tr>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Año</th>
              <th>Numero de placa</th>
              <th>Eliminar</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-vehicle>
          <tr>
              <td>{{ vehicle.brand }}</td>
              <td>{{ vehicle.model }}</td>
              <td>{{ vehicle.plate_number }}</td>
              <td>{{ vehicle.year }}</td>
              <td><p-button icon="pi pi-times" (click)="deleteVehicle(vehicle.id)" [rounded]="true" [text]="true" severity="danger "></p-button></td>
          </tr>
      </ng-template>
  </p-table>
</div>
