<div class="container-form flex flex-column" >
  <span class="text-lg mb-4">Login</span>

<form [formGroup]="formLogin" class="card flex justify-content-center flex-column">
    <div class="flex flex-column gap-2">
        <label htmlFor="username">Correo electronico</label>
        <input class="input-login" formControlName="email" pInputText id="username" aria-describedby="username-help" />
    </div>
    <div class="pass flex flex-column gap-2">
      <label htmlFor="username">Contraseña</label>
      <p-password class="input-login" formControlName="password" [toggleMask]="true" [feedback]="false"></p-password>
  </div>
</form>

  <p-toast></p-toast>

  <button (click)="login()"  mat-button color="primary">
    <mat-icon>save</mat-icon>
    Ingresar
  </button>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/">Regresar</a>
  </div>
</div>
