<div class="header">
  <p-button routerLink="/" class="header-button" label="Atras" severity="secondary"></p-button>
</div>

  <div class="container-form flex flex-column">

    <h1>Regístrate aquí</h1>
    <form [formGroup]="form" class="card flex justify-content-center flex-column">
      <div class="flex flex-column gap-2">
          <label htmlFor="username">Nombre de usuario</label>
          <input formControlName="username" pInputText id="username" aria-describedby="username-help" />
      </div>
      <div class="flex flex-column gap-2">
          <label htmlFor="firstName">Nombre</label>
          <input formControlName="firstName" pInputText id="firstName" aria-describedby="firstName-help" />
      </div>
      <div class="flex flex-column gap-2">
          <label htmlFor="lastName">Apellido</label>
          <input formControlName="lastName" pInputText id="lastName" aria-describedby="lastName-help" />
      </div>
      <div class="flex flex-column gap-2">
          <label htmlFor="email">Correo electrónico</label>
          <input formControlName="email" pInputText id="email" aria-describedby="email-help" />
      </div>
      <div class="flex flex-column gap-2">
          <label htmlFor="phone">Número de teléfono</label>
          <input formControlName="phone" pInputText id="phone" aria-describedby="phone-help" />
      </div>
      <div class="flex flex-column gap-2">
          <label htmlFor="password">Contraseña</label>
          <p-password formControlName="password" [toggleMask]="true" [feedback]="false"></p-password>
      </div>

      <div class="button-container">
        <p-button type="submit" label="Registrar" [outlined]="true" severity="secondary"></p-button>
        <p-button icon="pi pi-times" (click)="resetForm()" [rounded]="true" [text]="true" severity="danger"></p-button>

      </div>
    </form>



  </div>
